html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }

  .selectOption {
    display: flex;
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
    font-size: 15px;
  }

  .termsAgreement{
    color: whitesmoke;
    text-align: start;
    padding-left: 35px;
  }

  .bodyFont{
    color:whitesmoke;
    font-family: 'Roboto', sans-serif;
    text-align: left;
  }

  .agreementBox{
    margin-top: 18px;
  }

  .joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #1A1A1D;
    background-image: url(../../images/blackbgpoke.png);
    background-repeat:no-repeat;
    background-size: 110%;
  }
  
  .joinInnerContainer {
    width: 20%;
  }
  
  .joinInput {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
  }
  
  .heading {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
  }
  
  .button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: #FF3939;
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      width: 100%;
      font-size: 15px;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
  
    .joinInnerContainer {
      width: 90%;
    }
  
  
  }
  
  button:focus {
    outline: 0;
  }

/* The container */
.homeContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.homeContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.homeCheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.homeContainer:hover input ~ .homeCheckmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.homeContainer input:checked ~ .homeCheckmark {
  background-color: #FF3939;
}

/* Create the checkmark/indicator (hidden when not checked) */
.homeCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.homeContainer input:checked ~ .homeCheckmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.homeContainer .homeCheckmark:after {
  left: 9px;
  top: 2px;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}